<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lahuelladeandrea">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LaHuellaDeAndrea">
        <activity
            android:name=".NoEstasSola"
            android:exported="false" />
        <activity
            android:name=".BlogAdmin"
            android:exported="false" />
        <activity
            android:name=".Blog1"
            android:exported="false" />
        <activity
            android:name=".MotivacionAdmin"
            android:exported="false" />
        <activity
            android:name=".QandAAdmin"
            android:exported="false" />
        <activity
            android:name=".Ayuda"
            android:exported="false"
            android:label="@string/title_activity_ayuda"
            android:theme="@style/Theme.LaHuellaDeAndrea.NoActionBar" />
        <activity
            android:name=".Nosotros"
            android:exported="false" />
        <activity
            android:name=".QandA"
            android:exported="false" />
        <activity
            android:name=".HomePage1"
            android:exported="false" />
        <activity
            android:name=".Login1"
            android:exported="false" />
        <activity
            android:name=".Registro1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>